.carousel {
  max-width: 500px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
  border: 1px solid red;
}

.charClass {
  display: none;
}

.card {
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  height: 500px;
  width: 300px;
}

h2 {
  text-align: center;
  margin: 20px 0 0 0;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

#mageBtn, #warriorBtn, #rangerBtn {
  width: 150px;
  margin: 20px auto;
  display: block;
}

.info {
  margin-top: 25px;
  /* color: #e3e3e3; */
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

.dots {
  /* cursor: pointer; */
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

/* .dots:hover {
  background-color: #717161;
} */

.active {
  background-color: #717161;
}