.carousel {
  max-width: 450px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 25px;
}

.charClass {
  display: none;
}

.card {
  justify-content: center;
  margin: auto;
  border: 2px solid black;
  border-radius: 25px;
  height: 500px;
  width: 300px;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  text-align: center;
  margin: 20px 0 0 0;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.btn {
  width: 150px;
  height: 30px;
  margin: 15px auto;
  display: block;
}

.info {
  margin-top: 25px;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.back,
.forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.back:hover,
.forward:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots {
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active {
  background-color: #717161;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#enemy {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 50%;
  background-color:#990000;
  border-bottom: 2px solid black;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  bottom: 0;
  background-color:#009900;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#middle {
  position: absolute;
  border: 2px solid black;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80px;
  border-radius: 40px;
  text-align: center;
}

.disabled {
  pointer-events: none;
}